.navbar {
  margin: 0;
  border-radius: 0;
}

.banner {
  background-image: url('banner-bg-1.jpg');
  color: white;
  border-bottom: 8px solid dodgerblue;
}

.thumbnail {
  text-align: center;
  box-shadow: none;
}

.thumbnail .glyphicon {
  font-size: 2em;
  color: white;
  background-color: dodgerblue;
  padding: 0.5em;
  border-radius: 50%;
}

.pluspoint, .portfolio {
  border: none;
}

.portfolio a {
  overflow: hidden;
  display: block;
}

.portfolio img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.portfolio img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  transform: scale(1.2);
}

.client img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.client img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.team {
  margin-top: 50px;
}

.team img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-top: -50px;
}

.quote {
  font-style: italic;
}
